/*timeline*/
.timeline{
    display: flex;
    flex-wrap: wrap;
}
.line{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
}
.__left{
    align-items: flex-end;
    margin-right: 50%;
    padding-right:35px;
}
.__rigth{
    align-items: flex-start;
    margin-left: 50%;
    padding-left:35px;
}
.time{
    
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 112.4%;
    color: #FFFFFF;
    width: 90px;
    text-align: start;
    background-color: #E04E39;
    display: flex;
    align-items: center;
    padding: 8px 15px;
    position: relative;
}
.time:before{
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #E04E39;
}
.time:after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #E04E39;
}
.__left .time::after{
    right: -46px;
}
.__rigth .time::after{
    left: -46px;
}
.__left .time:before{
    right: -42px;
}
.__rigth .time:before{
    left: -42px;
}
.__left .time{
    text-align: center;
    justify-content: center;
}
.textBlock p{
    
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #2C2A29;
    margin: 4px 0;
}
.__left .textBlock{
    text-align: end;
}
.textBlock{
    margin-top: 15px;
    padding-bottom: 30px;
    position: relative;
    max-width: 500px;
}
.textBlock::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: #E04E39;
    top: 0;
}
.textBlock::before{
    content: '';
    position: absolute;
    height: 6px;
    width: 6px;
    transform: rotate(-45deg);
    border-left: 2px solid #E04E39;
    border-bottom: 2px solid #E04E39;
    bottom: 0;
}
.__left .textBlock::after{
    right: -36px;
}
.__rigth .textBlock::after{
    left: -36px;
}
.__left .textBlock::before{
    right: -39px;
}
.__rigth .textBlock::before{
    left: -39px;
}

.timeline .line:last-child .textBlock::after{
    content: none;
}
.timeline .line:last-child .textBlock::before{
    content: none;
}

:focus{
    outline: none;
}
summary{
    cursor: pointer;
}

.centerBlock{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.centerBlock p{
    
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #616060;
}
/*bottom block*/
.howToGet{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 120px;
}
.howToGet_item{
    max-width: 45%;
    padding-left: 27px;
    position: relative;
}
.howToGet_item::before{
    content: '';
    position: absolute;
    background: #E04E39;
    height: 100%;
    width: 3px;
    top: 8px;
    left: 0;
}
.howToGet_item::after{
    content: '';
    position: absolute;
    background: #E04E39;
    height: 100%;
    width: 2px;
    top: 40px;
    left: 9px;
}
.howToGet_item .title{
    
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    color: #2C2A29;
    max-width: max-content;
    border-bottom: 3px solid #E0DFDF;
}
.howToGet_item .desc{
    
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    color: #2C2A29;
}
footer .content{
    border-top: 2px solid #E0DFDF;
}
.footDesc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footDesc p,.footDesc a{
    
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #2C2A29;
    text-decoration: none;
}
@media (max-width:1199px){
    .bgContent .content{
        background-color: rgba(255,255,255,0.7);
    }
    .lineH1 {
        border-top: 3px solid #afafaf;
    }
    .introItem:before{
        background-color: #afafaf;
    }
}
@media (max-width:595px){
    header .content{
        flex-direction: column;
        align-items: center;
    }
    .contact{
        justify-content: center;
    }
    .contact a {
        margin: 0;
        margin-bottom: 10px;
    }
    .bgContent {
        background-size: cover;
    }
    .lineH1{
        display: none;
    }
    .firstRow {
        margin-left: 0;
    }
    .enterBlock {
        max-width: 100%;
    }
    .enterBlock button {
        width: 55px;
        height: 55px;
        margin-right: 90px;
        font-size: 14px;
    }
    .arrow-1 {
        width: 40px;
        right: -50px;
    }
    .arrow-1 div {
        width: 50px;
    }
    @keyframes arrow-1 {
        0% {
            right: -50px;;
        }
        50% {
            right: -65px;;
        }
        100% {
            right: -50px;;
        }
    }
    .__rigth {
        margin-left: 0;
    }
    .__left{
        margin-right: 0;
        padding-right:0;
        padding-left: 35px;
        align-items: flex-start;
    }
    .__left .textBlock::before{
        left: -39px;
    }
    .__left .textBlock::after{
        left: -36px;
    }
    .__left .textBlock{
        text-align: start;
    }
    .__left .time::after{
        left: -46px;
    }
    .__left .time:before{
        left: -42px;
    }
    .howToGet{
        flex-direction: column;
    }
    .howToGet_item{
        max-width: 100%;
    }
}
/* стилизация содержимого страницы */

  
/* свойства модального окна по умолчанию */
.modal {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255,255,255,0.5); /* цвет фона */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in; 
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
}
/* при отображении модального окно */
.modal:target {
    opacity: 1; /* делаем окно видимым */
    display: block;
	  pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: auto;
    margin: auto;
}
@media (min-width: 576px) {
  .modal-dialog {
      max-width: 500px;
      margin: auto; /* для отображения модального окна по центру */
  }
}
/* свойства для блока, содержащего контент модального окна */ 
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #2C2A29;
    border-radius: 0;
    outline: 0;
}
@media (min-width: 768px) {
  .modal-content {
      -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }
}
/* свойства для заголовка модального окна */
.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 35px 0 15px;
}
.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
}
/* свойства для кнопки "Закрыть" */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
    position: absolute;
    top: 15px;
    right: 15px;
}
/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}
/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
  position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
    display: flex;
    justify-content: center;
}
.modal-body form{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 375px;
}
.modal h3{
    text-align: center;
    
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
    color: #2C2A29;
    width: 100%;
}
form input[type=text]{
    width: 100%;
    margin: 7px 15px;
    border: none;
    border-bottom: 1px solid #2C2A29;
    padding-bottom: 15px;
    outline: none;
}
form input[type=text]::placeholder{
    
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #2C2A29;
}
.howToGetForm{
    display: flex;
    flex-direction: column;
    
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
}